.theft {
    background-color: #f9f170;
    color: black;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    margin-right: 560px;
    // padding: 6px 18px;
    cursor: pointer;

button{
    border: none;
    background-color: #f9f170;
}
}




